    html{ 
      overflow-y:scroll; 
    }
    h1{
      color:#00c8e3;
    }
    p{
      color:#ffffff;
    }
    p {
      font-size:medium;
    }
　  body{
      font-family:"MS 明朝","monospace","sans-serif";
　　}
    body{
      background-color:#00085c;
    }
    
    .btn-push{
      position:absolute;
      top:300px;
      left:330px;
    }
    .btn-push2{
      position:absolute;
      top:300px;
      left:630px;
    }
    .btn-push3{
      position:absolute;
      top:300px;
      left:930px;
    }
    .btn-push4{
      position:absolute;
      top:650px;
      left:330px;
    }
    .btn-push5{
      position:absolute;
      top:650px;
      left:630px;
    }
    .btn-border2{
      position:absolute;
      top:30.5px;
      left:505px;
    }
    .btn-border{
      position:absolute;
      top:30.5px;
      left:758px;
    }
    .btn-border3{
      position:absolute;
      top:30.5px;
      left:1050px;
    }
    .btn-gradation{
      position:absolute;
      top:30.5px;
      left:252.5px;
    }
    .sen{
      position:absolute;
      top:500px;
      left:250px;
    }
    .sen2{
      position:absolute;
      top:280px;
      left:295px;
    }
    .sen3{
      position:absolute;
      top:280px;
      left:595px;
    }
    .sen4{
      position:absolute;
      top:280px;
      left:895px;
    }
    .sen5{
      position:absolute;
      top:280px;
      left:1195px;
    }
    .sen10{
      position:absolute;
      top:850px;
      left:250px;
    }
    .sen12{
      position:absolute;
      top:630px;
      left:295px;
    }
    .sen13{
      position:absolute;
      top:630px;
      left:595px;
    }
    .sen14{
      position:absolute;
      top:630px;
      left:895px;
    }
    .sen15{
      position:absolute;
      top:630px;
      left:1195px;
    }
    .minecraft{
      position:absolute;
      top:390px;
      left:330px;
      right:680px;
    }
    .kyoupuro{
      position:absolute;
      top:390px;
      left:632px;
      right:395px;
    }
    .youtube{
      position:absolute;
      top:390px;
      left:930px;
      right:92px;
    }
    .library{
      position:absolute;
      top:740px;
      left:330px;
      right:680px;
    }
    .law{
      position:absolute;
      top:740px;
      left:632px;
      right:395px;
    }
    .minecraft>p{
      line-height:5pt;
    }
    .kyoupuro>p{
      line-height:5pt;
    }
    .youtube>p{
      line-height:5pt;
    }
    .library>p{
      line-height:5pt;
    }
    .law>p{
      line-height:5pt;
    }

.btn-push {
  display: inline-block;
  max-width: 2000px;
  text-align: left;
  background-color:#1ca62b;
  font-size: 24px;
  color: #754b0c;
  text-decoration: none;
  font-weight: bold;
  padding: 20px 58px;
  border-radius: 4px;
  border-bottom: 8px solid #178a24;
}
.btn-push:active {
    transform: translateY(4px);
    border-bottom: none;
}

.btn-push2 {
  display: inline-block;
  max-width: 2000px;
  text-align: left;
  background-color: #ffffff;
  font-size: 22px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  padding: 21.4px 18.5px;
  border-radius: 4px;
  border-bottom: 8px solid #adadad;
}
.btn-push2:active {
    transform: translateY(4px);
    border-bottom: none;
}

.btn-push3 {
  display: inline-block;
  max-width: 2000px;
  text-align: left;
  background-color: #fc1919;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 20px 66px;
  border-radius: 4px;
  border-bottom: 8px solid #bd1515;
}
.btn-push3:active {
    transform: translateY(4px);
    border-bottom: none;
}

.btn-push4 {
  display: inline-block;
  max-width: 2000px;
  text-align: left;
  background-color: #9e1b1b;
  font-size: 22px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 21.4px 54.5px;
  border-radius: 4px;
  border-bottom: 8px solid #781d1d;
}
.btn-push4:active {
    transform: translateY(4px);
    border-bottom: none;
}

.btn-push5 {
  display: inline-block;
  max-width: 2000px;
  text-align: left;
  background-color:#09062e;
  font-size: 22px;
  color: #b39f20;
  text-decoration: none;
  font-weight: bold;
  padding: 21.4px 67px;
  border-radius: 4px;
  border-bottom: 8px solid #020105;
}
.btn-push5:active {
    transform: translateY(4px);
    border-bottom: none;
}

.btn-border {
  display: inline-block;
  max-width: 2000px;
  text-align: left;
  border: 2px solid #ffffff;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 20px 40px;
  border-radius: 4px;
  transition: .4s;
}
.btn-border:hover {
  background-color: #5cbeff;
  border-color: #5ce1ff;
  color: #FFF;
}

.btn-border2 {
  display: inline-block;
  max-width: 2000px;
  text-align: left;
  border: 2px solid #ffffff;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 20px 40px;
  border-radius: 4px;
  transition: .4s;
}
.btn-border2:hover {
  background-color: #5cbeff;
  border-color: #5ce1ff;
  color: #FFF;
}

.btn-border3 {
  display: inline-block;
  max-width: 2000px;
  text-align: left;
  border: 2px solid #ffffff;
  font-size: 24px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 20px 30px;
  border-radius: 4px;
  transition: .4s;
}
.btn-border3:hover {
  background-color: #ff0000;
  border-color: #ff5252;
  color: #ffdd00;
}

.btn-gradation {
  display: inline-block;
  width: 180px;
  text-align: center;
  font-size: 24px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 21.5px 36px;
  border-radius: 4px;
  background-image: linear-gradient(-90deg, #33ebff, #0047fa);
  transition: .5s;
  background-size: 200%;
}
.btn-gradation:hover {
  background-position: right center;
}