@media (min-width:0px){
    html{ 
      overflow-y:scroll; 
    }
    h1{
      color:#00c8e3;
      display: block;
      margin:auto;
    }
    p{
      color:#ffffff;
      font-size:medium;
      display: block;
      margin:auto;
    }
　  body{
      font-family:"MS 明朝","monospace","sans-serif";
    }
    body{
      background-color:#00085c;
      display: block;
      margin:auto;
    }
    .news{
      position:relative;top:-690px;left:260px;
    }
    .news>p{
      font-size:25px;
    }
    .main{
      position:relative;top:-680px;left:260px;
    }
    .sab{
      position:relative;top:-1525px;left:260px;
    }
    .btn-push{
      position:relative;
      top:-1460px;
      left:323px;
    }
    .btn-push2{
      position:relative;
      top:-1460px;
      left:381px;
    }
    .btn-push3{
      position:relative;
      top:-1460px;
      left:440px;
    }
    .btn-push4{
      position:relative;
      top:-2310px;
      left:323px;
    }
    .btn-push5{
      position:relative;
      top:-2310px;
      left:381px;
    }
    .btn-border2{
      position:relative;
      top:-687px;
      left:240px;
    }
    .btn-border{
      position:relative;
      top:-687px;
      left:750px;
    }
    .btn-border3{
      position:relative;
      top:-687px;
      left:525px;
    }
    .btn-gradation{
      position:relative;
      top:-608px;
      left:244px;
    }
    .sen{
      position:relative;
      top:-440px;
      left:115px;
      height:2px;
      width:1000px;
    }
    .sen2{
      position:relative;
      top:-685px;
      left:287px;
      width:4px; height:200px;
    }
    .sen3{
      position:relative;
      top:-885px;
      left:587px;
      width:4px; height:200px;
    }
    .sen4{
      position:relative;
      top:-1085px;
      left:887px;
      width:4px; height:200px;
    }
    .sen5{
      position:relative;
      top:-1285px;
      left:1187px;
      width:4px; height:200px;
    }
    .sen10{
      position:relative;
      top:-1290px;
      left:115px;
      height:2px;
      width:1000px;
    }
    .sen12{
      position:relative;
      top:-1537px;
      left:287px;
      width:4px; height:200px;
    }
    .sen13{
      position:relative;
      top:-1737px;
      left:587px;
      width:4px; height:200px;
    }
    .sen14{
      position:relative;
      top:-1937px;
      left:887px;
      width:4px; height:200px;
    }
    .sen15{
      position:relative;
      top:-2137px;
      left:1187px;
      width:4px; height:200px;
    }
    .minecraft{
      position:relative;
      top:-1460px;
      left:-180px;
      width:245px;
      display: block;
      margin:auto;
    }
    .kyoupuro{
      position:relative;
      top:-1540px;
      left:120px;
      width:245px;
      display: block;
      margin:auto;
    }
    .youtube{
      position:relative;
      top:-1605px;
      left:420px;
      width:245px;
      display: block;
      margin:auto;
    }
    .library{
      position:relative;
      top:-2310px;
      left:-180px;
      width:245px;
      display: block;
      margin:auto;
    }
    .law{
      position:relative;
      top:-2374px;
      left:120px;
      width:245px;
      display: block;
      margin:auto;
    }
    .minecraft>p{
      line-height:12pt;
    }
    .kyoupuro>p{
      line-height:12pt;
    }
    .youtube>p{
      line-height:12pt;
    }
    .library>p{
      line-height:12pt;
    }
    .law>p{
      line-height:12pt;
    }

.btn-push {
  display: inline-block;
  max-width:100%;
  text-align: left;
  background-color:#1ca62b;
  font-size: 24px;
  color: #754b0c;
  text-decoration: none;
  font-weight: bold;
  padding: 20px 58px;
  border-radius: 4px;
  border-bottom: 8px solid #178a24;
}
.btn-push:active {
    transform: translateY(4px);
    border-bottom: none;
}

.btn-push2 {
  display: inline-block;
  max-width: 100%;
  text-align: left;
  background-color: #ffffff;
  font-size: 22px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  padding: 21.4px 18.5px;
  border-radius: 4px;
  border-bottom: 8px solid #adadad;
}
.btn-push2:active {
    transform: translateY(4px);
    border-bottom: none;
}

.btn-push3 {
  display: inline-block;
  max-width: 100%;
  text-align: left;
  background-color: #fc1919;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 20px 66px;
  border-radius: 4px;
  border-bottom: 8px solid #bd1515;
}
.btn-push3:active {
    transform: translateY(4px);
    border-bottom: none;
}

.btn-push4 {
  display: inline-block;
  max-width: 100%;
  text-align: left;
  background-color: #9e1b1b;
  font-size: 22px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 21.4px 54.5px;
  border-radius: 4px;
  border-bottom: 8px solid #781d1d;
}
.btn-push4:active {
    transform: translateY(4px);
    border-bottom: none;
}

.btn-push5 {
  display: inline-block;
  max-width: 100%;
  text-align: left;
  background-color:#09062e;
  font-size: 22px;
  color: #b39f20;
  text-decoration: none;
  font-weight: bold;
  padding: 21.4px 67px;
  border-radius: 4px;
  border-bottom: 8px solid #020105;
}
.btn-push5:active {
    transform: translateY(4px);
    border-bottom: none;
}

.btn-border {
  display: inline-block;
  max-width: 100%;
  text-align: left;
  border: 2px solid #ffffff;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 20px 40px;
  border-radius: 4px;
  transition: .4s;
}
.btn-border:hover {
  background-color: #5cbeff;
  border-color: #5ce1ff;
  color: #FFF;
}

.btn-border2 {
  display: inline-block;
  max-width: 100%;
  text-align: left;
  border: 2px solid #ffffff;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 20px 40px;
  border-radius: 4px;
  transition: .4s;
}
.btn-border2:hover {
  background-color: #5cbeff;
  border-color: #5ce1ff;
  color: #FFF;
}

.btn-border3 {
  display: inline-block;
  max-width: 100%;
  text-align: left;
  border: 2px solid #ffffff;
  font-size: 24px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 20px 30px;
  border-radius: 4px;
  transition: .4s;
}
.btn-border3:hover {
  background-color: #ff0000;
  border-color: #ff5252;
  color: #ffdd00;
}

.btn-gradation {
  display: inline-block;
  width: 180px;
  text-align: center;
  font-size: 24px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 21.5px 36px;
  border-radius: 4px;
  background-image: linear-gradient(-90deg, #33ebff, #0047fa);
  transition: .5s;
  background-size: 200%;
}
.btn-gradation:hover {
  background-position: right center;
}
    body{
      width:1250px;
      display: block;
      margin:auto;
      border: 2px solid #fff;
    }
}